.popup__title {
  -ms-flex-item-align: start;
  align-self: flex-start;

  margin: 0;
  margin-bottom: 36px;

  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    margin-bottom: 62px;

    font-size: 18px;
    line-height: 22px;
  }
}
