.form__fieldset {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 52px;
}

.form__fieldset:last-of-type {
  margin-bottom: 31px;
}
