:root {
  --color__background: #000000;
  --color__background_window: #ffffff;
  --color__main-text_profile: #ffffff;
  --color__main-text_elements: #000000;
  --color__main-text_footer: #545454;
  --color__popup-text: #cccccc;
}
