.header__item {
  width: 100%;

  margin: 0 24px 0 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color__main-text_profile);
}

.header__item:last-of-type {
  margin-right: 0;
}

