.popup__button-close {
  position: absolute;
  top: -47px;
  right: -47px;

  width: 54px;
  height: 54px;

  background-image: url(../../../images/close_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .popup__button-close {
    top: -50px;
    right: 0px;

    width: 36px;
    height: 36px;
  }
}
