.element__like {
  width: 22px;
  height: 19px;

  cursor: pointer;
  -webkit-transition: opacity 0.1s ease-in-out 0.1s, scale 1s ease-in-out 1s;
  -o-transition: opacity 0.1s ease-in-out 0.1s, scale 0.1s ease-in-out 0.1s;
  transition: opacity 0.1s ease-in-out 0.1s, scale 0.1s ease-in-out 0.1s;

  border: none;
  outline: none; /*убирает подводку контура после клика*/
  background-color: transparent;
  background-image: url(../../../images/element_like.svg);
  background-position: center;
  background-size: cover;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.element__like:hover {
  transform: scale(1.2);

  opacity: 0.5;
}
