.form__password-control {
  position: absolute;
  top: 4px;
  right: 6px;
  display: inline-block;
  width: 30px;
  height: 30px;
  z-index: 1;

  background-image: url("../../../images/view.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
